@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
    padding: 0%;
    margin: 0%;
}

h1,
h2,
h3,
h4,
h5,
span,
p {
    font-weight: bold;
}

.container.text-center {
    background: #f8a918;
    padding: 36px;
}

.eventHeading {
    text-align: center;
}

a#navDownload1 {
    background: #F36820;
    border-radius: 50px;
    padding: 12px 30px 12px 30px;
    color: white;
    display: inline-flex;
    text-decoration: none;
}

div#downloadSection {
    line-height: 40px;
}

.downloadText {
    padding-bottom: 12px;
    font-size: 36px;
    background: -webkit-linear-gradient(#F36820, #DF2269);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

i {
    padding-right: 20px;
    /* padding: 14px; */
}

.imageSetting {
    background-size: contain;
    height: 109px;
    background-image: url(../../../assets/Ornament.png);
    background-repeat: no-repeat;
}

.back {
    border-radius: 20px;
    text-align: center;
    border: none;
    color: #fff;
    background-color: #e8702c;
    border-color: #f69b66;
    width: 26%;
    padding: 11px;
}

.back:hover {
    border-radius: 20px;
    text-align: center;
    border: none;
    color: #fff;
    background-color: #f38648;
    border-color: #f69b66;
    width: 26%;
    padding: 11px;
}


.blur-body {
    filter: blur(5px);
}

.bg-blue {
    background-color: #fa7708 !important;
}



li.nav-item {
    padding-left: 31px;
    display: flex;
    align-items: center;
}

nav {
    background-color: #d8b26a;
    margin-bottom: 15px;
}

ul.navbar-nav {
    text-align: center;
}

.fixed-top {
    /* position: fixed; */
    /* top: 0; */
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar>.container,
.navbar>.container-fluid,
.navbar>.container-lg,
.navbar>.container-md,
.navbar>.container-sm,
.navbar>.container-xl,
.navbar>.container-xxl {
    display: flex;
    flex-wrap: inherit;
    padding: 0px;
    align-items: center;
    justify-content: space-between;
}


