/* You can add global styles to this file, and also import other style files */
a.nav-link.text-black {
    font-size: larger;
}
a.nav-link.text-white {
    font-size: larger;
}

body{
    overflow-x: hidden;
}
.footerHeader {
    text-transform: uppercase;
    padding-left: 31px;
    padding-bottom: 7px;
    font-size: 12px;
}

div#align {
    margin-top: 29px;
}
